<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghui.antelope.dao.system.UserMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yanghui.antelope.domain.system.User">
		<id column="id" property="id" />
		<result column="dept_id" property="deptId" />
		<result column="account" property="account" />
		<result column="password" property="password" />
		<result column="name" property="name" />
		<result column="telephone" property="telephone" />
		<result column="mobile" property="mobile" />
		<result column="email" property="email" />
		<result column="type" property="type" />
		<result column="status" property="status" />
		<result column="remark" property="remark" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
		
		<result column="createByName" property="createByName" />
		<result column="updateByName" property="updateByName" />
	</resultMap>
	
	<select id="queryPage" resultMap="BaseResultMap" parameterType="com.baomidou.mybatisplus.plugins.pagination.Pagination">
   		select t1.*,t2.name as createByName,t3.name as updateByName from user t1 join user t2 on t1.create_by = t2.id
		join user t3 on t1.update_by = t3.id
		<where>
			<if test="account != null and account != ''"> and t1.account = #{account}</if>
			<if test="name != null and name != ''"> and t1.name = #{name}</if>
			<if test="mobile != null and mobile != ''"> and t1.mobile = #{mobile}</if>
			and t1.yn = 1
		</where>
	</select>
</mapper>
