<#include "/common/head.html">
<div data-options="region:'west',border:false" style="width:900px;padding:5px 0px 0px 12px;">
	<div>
		<form id="personal_form" method="post">
			<input type="hidden" name="id" value="${findUser.id}">
		    <table>
		    	<tr>
		    		<th>账号：</th>
		    		<td>
		    			<input class="easyui-textbox" name="account" id="account" readonly="readonly"
		    			data-options="required:true" style="width:200px" value=${findUser.account}>
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>姓名：</th>
		    		<td>
		    			<input class="easyui-textbox" name="name" id="name" 
		    			data-options="required:true" style="width:200px" value="${findUser.name}">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>电话：</th>
		    		<td>
		    			<input class="easyui-textbox" name="telephone" id="telephone"
		    			data-options="required:true" style="width:200px" value="${findUser.telephone}">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>手机：</th>
		    		<td>
		    			<input class="easyui-textbox" name="mobile" id="mobile"
		    			data-options="required:true" style="width:200px" value="${findUser.mobile}">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>邮箱：</th>
		    		<td>
		    			<input class="easyui-textbox" name="email" id="email"
		    			data-options="required:true" style="width:200px" value="${findUser.email}">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>角色：</th>
		    		<td>
		    			<input class="easyui-textbox" name="roleNames" id="roleNames" 
		    			readonly="readonly" style="width:200px" value="${findUser.roleNames}">
		    		</td>
		    	</tr>
		    </table>
		</form>
	</div>
	<div>
		<a href="javascript:void(0)" id="submitBnt" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="width:10%">保存</a>
	</div>
</div>
<script type="text/javascript">
$(function(){
	var form = $("#personal_form");
	$('#submitBnt').click(function(){
		$.messager.progress();
		form.form('submit',{
			url:'me/updatePersonal.json',
			onSubmit: function(){
		    	var isValid = $(this).form('validate');
				if (!isValid){
					$.messager.progress('close');
				}
				return isValid;
		    },
		    success:function(data){
		    	$.messager.progress('close');
		    	var obj = eval('(' + data + ')');
		    	if(obj.success){
		    		showMessager(obj.message);
		    	}else {
		    		$.messager.alert('错误',obj.message,'error');
		    	}
		    	form.form('load',"me/getUserAllMsg.json");
		    }
		});
	});
});
</script>
<#include "/common/foot.html">
