<#include "/common/head.html">
<div data-options="region:'west',border:false" style="width:900px;padding:5px 0px 0px 12px;">
	<div>
		<form id="updatePwd_form" method="post">
		    <table>
		    	<tr>
		    		<th>旧密码：</th>
		    		<td>
		    			<input class="easyui-passwordbox" prompt="Password" iconWidth="28" name="oldPassword"
		    			 data-options="required:true" style="width:250px;height:30px;padding:10px">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>新密码：</th>
		    		<td>
		    			<input class="easyui-passwordbox" prompt="Password" iconWidth="28" name="newPassword" id="newPassword"
		    			data-options="required:true" style="width:250px;height:30px;padding:10px">
		    		</td>
		    	</tr>
		    	<tr>
		    		<th>重复新密码：</th>
		    		<td>
		    			<input class="easyui-passwordbox" prompt="Password" iconWidth="28" name="repPassword" id="repPassword"
		    			data-options="required:true" style="width:250px;height:30px;padding:10px">
		    		</td>
		    	</tr>
		    </table>
		</form>
	</div>
	<div>
		<a href="javascript:void(0)" id="submitBnt${rand}" class="easyui-linkbutton" data-options="iconCls:'icon-save'" style="width:10%">保存</a>
	</div>
</div>
<script type="text/javascript">
$(function(){
	var form = $("#updatePwd_form");
	$('#submitBnt${rand}').click(function(){
		$.messager.progress();
		form.form('submit',{
			url:'me/updatePwd.json',
			onSubmit: function(){
		    	var isValid = $(this).form('validate');
				if (!isValid){
					$.messager.progress('close');
					return isValid;
				}
				var newPassword = $("#newPassword").val();
				var repPassword = $("#repPassword").val();
				if(newPassword != repPassword){
					$.messager.progress('close');
					$.messager.alert('错误',"两次密码不一致",'error');
					isValid = false;
				}
				return isValid;
		    },
		    success:function(data){
		    	$.messager.progress('close');
		    	var obj = eval('(' + data + ')');
		    	if(obj.success){
		    		$.messager.alert('提示',obj.message,'info');
		    	}else {
		    		$.messager.alert('错误',obj.message,'error');
		    	}
		    	form.form("clear");
		    }
		});
	});
});
</script>
<#include "/common/foot.html">
