<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghui.antelope.dao.creditBusiness.BusinessMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yanghui.antelope.domain.creditBusiness.Business">
		<id column="id" property="id" />
		<result column="customer_id" property="customerId" />
		<result column="company_name" property="companyName" />
		<result column="setup_date" property="setupDate" />
		<result column="employees_num" property="employeesNum" />
		<result column="corporation" property="corporation" />
		<result column="share_stock" property="shareStock" />
		<result column="industry_type" property="industryType" />
		<result column="half_year_ticket" property="halfYearTicket" />
		<result column="taxes" property="taxes" />
		<result column="personal_water" property="personalWater" />
		<result column="compa_address" property="compaAddress" />
		<result column="area" property="area" />
		<result column="turnover" property="turnover" />
		<result column="fixed_equipment" property="fixedEquipment" />
		<result column="rent" property="rent" />
		<result column="lease_contract" property="leaseContract" />
		<result column="remark" property="remark" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<select id="getPage" resultMap="BaseResultMap" parameterType="map">
		select * from td_business 
		<where>
			<if test="customerId != null"> and customer_id = #{customerId}</if>
		</where>
	</select>

</mapper>
