<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yanghui.antelope.dao.creditBusiness.PolicyMapper">

	<!-- 通用查询映射结果 -->
	<resultMap id="BaseResultMap" type="com.yanghui.antelope.domain.creditBusiness.Policy">
		<id column="id" property="id" />
		<result column="customer_id" property="customerId" />
		<result column="insurance_company" property="insuranceCompany" />
		<result column="insurance_name" property="insuranceName" />
		<result column="buy_time" property="buyTime" />
		<result column="buy_price" property="buyPrice" />
		<result column="remark" property="remark" />
		<result column="create_by" property="createBy" />
		<result column="create_time" property="createTime" />
		<result column="update_by" property="updateBy" />
		<result column="update_time" property="updateTime" />
		<result column="yn" property="yn" />
	</resultMap>
	
	<select id="getPage" resultMap="BaseResultMap" parameterType="map">
		select * from td_policy
		<where>
			<if test="customerId != null"> and customer_id = #{customerId}</if>
		</where>
	</select>

</mapper>
