<!DOCTYPE HTML>
<html>
<head>
	<base href="${base}"></base>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link href="hui/H-ui.min.css" rel="stylesheet" type="text/css"/>
    <link href="hui/login.css" rel="stylesheet" type="text/css"/>
    <title>antelope管理系统</title>
</head>
<body>
<div class="header">antelope管理系呜呜呜呜统<span style="font-size: 10px; color:blanchedalmond">(v1.0)</span></div>
<input type="hidden" id="TenantId" name="TenantId" value=""/>
<div class="loginWraper">
    <div class="loginBox">
        <form id="loginform" class="form form-horizontal" method="get">
            <!--管理员页面-->
            <input id="pageName" type="hidden" value="admin" name="pageName"/>

            <div class="row cl">
                <label class="">账号</label>
                <div class="formControls col-xs-8">
                    <input id="login" name="account" type="text" placeholder="钉钉邮--箱" class="input-text size-L"
                           value="123433403@qq.com">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-3"><i class="Hui-iconfont">&#xe60e;</i></label>
                <div class="formControls col-xs-8">
                    <input id="pwd" name="pwd" type="password" placeholder="初始密码为123456" class="input-text size-L" value="1">
                </div>
            </div>
            <!-- <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input id="vertifyCode" name="vertifyCode" class="input-text size-L" type="text" placeholder="验证码"
                           onblur="if(this.value==''){this.value='验证码:'}"
                           onclick="if(this.value=='验证码:'){this.value='';}" value="验证码:" style="width:150px;">
                    <img style="width: 100px; height: 50px;" src="getVertifyCode.rest" id="imgVertifyCode">
                    <a id="kanbuq" href="javascript:;">看不清，换一张</a></div>
            </div> -->
            <!-- <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <label for="online">
                        <input type="checkbox" name="online" id="online" value="1" {(!isEmpty(online) && online== '1')?'checked':''}>记住账号密码</label>
                </div>
            </div> -->
            <div class="row cl">
                <div class="formControls col-xs-8 col-xs-offset-3">
                    <input name="" type="button" onclick="btnSave()" class="btn btn-success radius size-L"
                           value="&nbsp;登&nbsp;&nbsp;&nbsp;&nbsp;录&nbsp;">
                    <input name="" type="reset" class="btn btn-default radius size-L"
                           value="&nbsp;取&nbsp;&nbsp;&nbsp;&nbsp;消&nbsp;">
                </div>
            </div>
        </form>
    </div>
</div>
<div class="footer">Copyright 你的公司名称 by 飞马大宗</div>
</body>
</html>