<#include "/common/head.html">
<div data-options="region:'north',border:false" style="height:400px;padding:20px 5px 0px 5px;">
	<div><h3>生意资料</h3></div>
	<form id="profession_form" method="post" enctype="multipart/form-data" style="padding:20px 5px 0px 5px;">
	    <#if customer??>
			<input type="hidden" name="customerId" id="customerId${rand}" value="${customer.id}">
		</#if>
		<#if business??>
			<input type="hidden" name="id" value="${business.id}">
		</#if>
	    <table>
	    	<tr>
	    		<td colspan="3">
					<input class="easyui-textbox" data-options="required: true" label="公司名称:" labelPosition="left" name="companyName" style="width:100%;height:30px">
				</td>
	    	</tr>
	    	<tr>
	    		<td>
					<input class="easyui-datebox" data-options="required: true" label="成立时间:" labelPosition="left" name="setupDate" style="width:100%;height:30px">
				</td>
				<td>
					<input class="easyui-textbox" data-options="required: true" label="员工人数:" labelPosition="left" name="employeesNum" style="width:100%;height:30px">
				</td>
				<td>
					<input class="easyui-numberbox" data-options="required: true" label="公司电话:" labelPosition="left" name="telephone" style="width:100%;height:30px">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input class="easyui-textbox" label="公司地址:" data-options="required: true" labelPosition="left" name="companyAddress" style="width:100%;height:30px">
				</td>
			<th>
			<tr>
				<td>
					<input class="easyui-textbox" data-options="required: true" label="面积:" labelPosition="left" name="area" style="width:100%;height:30px">
				</td>
				<td>
					<input class="easyui-numberbox" label="营业额:" data-options="required: true,min:0,precision:2" labelPosition="left" name="turnover" style="width:100%;height:30px">
				</td>
				<td>
					<input class="easyui-numberbox" data-options="required: true,min:0,precision:2" label="租金:" labelPosition="left" name="rent" style="width:100%;height:30px">
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<input class="easyui-textbox" data-options="required: true" label="固定设备:" labelPosition="left" name="fixedEquipment" style="width:100%;height:30px">
				</td>
			</tr>
	    </table>
	</form>
	<div style="margin:20px 0 10px 0;">
	   <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-undo'" id="back${rand}" style="width:15%">上一步</a>
	   <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-redo'" id="next${rand}" style="width:15%">下一步</a>
       <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-cancel'" id="skip${rand}" style="width:15%">跳过</a>
       <a href="javascript:void(0)" class="easyui-linkbutton" data-options="iconCls:'icon-ok'" id="finish${rand}" style="width:15%">完成</a>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var backBtn = $("#back${rand}");
		var nextBtn = $("#next${rand}");
		var finishBtn = $("#finish${rand}");
		var skipBtn = $("#skip${rand}");
		backBtn.click(function(){
			location.replace("business/lastPageUI.html?customerId=${customer.id}");
		});
		skipBtn.click(function(){
			location.replace("business/nextUI.html?customerId=${customer.id}");
		});
	});
</script>
<#include "/common/foot.html">