<#include "/common/head.html">
<div data-options="region:'center',border:false" style="height:600px;padding:20px 5px 0px 5px;">
	<div><h3>客户方案</h3></div>
	<form id="programme_form" method="post" enctype="multipart/form-data" style="padding:20px 5px 0px 5px;">
	    <#if customer??>
			<input type="hidden" name="customerId" id="customerId${rand}" value="${customer.id}">
		</#if>
		<#if programme??>
			<input type="hidden" name="id" value="${programme.id}">
		</#if>
		<input type="hidden" name="mark" id="mark${rand}" value="1">
	    <table>
	    	<#if Session.user.roleCodes?contains("kehujingli") || Session.user.roleCodes?contains("administrator")>
		    	<tr>
		    		<td>
		    			客户经理建议：
		    		</td>
		    		<td>
						<textarea name="customerManagerProposal" rows="5" cols="80"></textarea>
					</td>
		    	</tr>
	    	</#if>
	    	<#if Session.user.roleCodes?contains("zhuguan") || Session.user.roleCodes?contains("administrator")>
		    	<tr>
		    		<td>
		    			主管方案：
		    		</td>
		    		<td>
						<textarea name="directorProgramme" rows="5" cols="80"></textarea>
					</td>
		    	</tr>
	    	</#if>
	    	<#if Session.user.roleCodes?contains("zongjingli") || Session.user.roleCodes?contains("administrator")>
		    	<tr>
		    		<td>
		    			批款结果：
		    		</td>
		    		<td>
						<textarea name="appropriationResult" rows="5" cols="80"></textarea>
					</td>
		    	</tr>
	    	</#if>
	    	<#if Session.user.roleCodes?contains("kehujingli") || Session.user.roleCodes?contains("administrator")>
	    	<tr>
	    		<td>
	    			跟进建议：
	    		</td>
	    		<td>
					<textarea name="followUpProposal" rows="5" cols="80"></textarea>
				</td>
	    	</tr>
	    	</#if>
	    </table>
	</form>
	<div style="margin:20px 0 10px 0;">
		<@linkbutton code="programme_last_bt" name="上一步" iconCls="icon-undo" id="back${rand}" style="width:15%"/>
        <@linkbutton code="programme_finishplan_bt" name="完成方案" iconCls="icon-ok" id="finishplan${rand}" style="width:15%"/>
		<@linkbutton code="programme_rejectplan_bt" name="拒绝方案" iconCls="icon-no" id="rejectplan${rand}" style="width:15%"/>
	</div>
</div>
<script type="text/javascript">
	$(function(){
		var backBtn = $("#back${rand}");
		var finishplanBtn = $("#finishplan${rand}");
		var rejectplanBtn = $("#rejectplan${rand}");
		var form = $("#programme_form");
		
		backBtn.click(function(){
			location.replace("programme/lastPageUI.html?customerId=${customer.id}");
		});
		
		<#if programme??>
			form.form("load","programme/load.json?id=${programme.id}");
		</#if>
		
		finishplanBtn.click(function(){
			formSubmit(1);
		});
		rejectplanBtn.click(function(){
			formSubmit(2);
		});
		
		function formSubmit(type){
			$.messager.progress();
			$("#mark${rand}").val(type);
			form.form('submit',{
        	    url:"programme/plan.json?mark=" + type,
        	    onSubmit: function(){
        	    	var isValid = $(this).form('validate');
        			if (!isValid){
        				$.messager.progress('close');
        			}
        			return isValid;
        	    },
        	    success:function(data){
        	    	$.messager.progress('close');
        	    	var obj = eval('(' + data + ')');
        	    	if(obj.success){
        	    		showMessager(obj.message);
        	    		location.replace("customerInput/customerDetailsUI.html?customerId=${customer.id}");
        	    	}else {
        	    		$.messager.alert('提示',obj.message,'error');
        	    	}
        	    }
        	});
		}
	});
</script>
<#include "/common/foot.html">